[tools]
python = "3.14"
uv = "latest"

[settings]
experimental = true
idiomatic_version_file_enable_tools = ["python"]

[hooks]
enter = "bash ./scripts/enter_project.sh"

[env]
UV_LINK_MODE = "copy"

[tasks.check]
description = "Python type checker and language server"
run = "uv run ty check"
